 html
{
    font-family: 'Raleway', sans-serif;
    color: #131516;
    font-weight: 400;
}



/* Nav Bar ----------------------------------------*/
 
.container
{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 3rem;
    background-color: red;
    grid-template-areas: 
    "i a b c";
    margin: -8px -8px 10px -8px;
}

@media screen and (max-width: 688px) 
{
    .container
    {
        grid-template: repeat(2, 3rem) / repeat(2, 1fr);

        grid-template-areas: 
        "i c"
        "b a";
    }
   
}

.icon
{
    /* background-color: pink; */
    grid-area: i;
    padding-left: 3.125rem;
 
}

.areaA
{
    /* background-color: green; */
    grid-area: a;
    margin: auto;
    height: 3rem;
    line-height: 3rem;
}



.areaB
{
    /* background-color: blue; */
    grid-area: b;
    margin: auto;
    height: 3rem;
    line-height: 3rem;
  

}

.areaC
{
    /* background-color: yellow; */
    grid-area: c;
    margin: auto;
    line-height: 3rem;
    height: 3rem;
}

nav a
{
    text-decoration: none;
    font-weight: 400;
    color: #131516;
}

#signUp
{
    color: #0065FC;
    font-weight: 400;
}

nav a:hover
{
    color: #0065FC;
}

.navMenuItem:hover
{
    border-top: 2px solid #0065FC;
}

/* Search bar Section ------------------------------*/

section h2
{
    margin: 0.625rem 0 0.625rem 3.125rem; 
    font-size: 1.25rem;
}

section > p
{
    margin: 0.625rem 0 0.625rem 3.125rem;
    font-weight: 200;
    font-size: 1rem;
}


.searchBar
{
    display: flex;
    flex-flow: row wrap;
    width: 25rem;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    
}

.searchIcon
{
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
 
}

section input
{
    border: .3px solid #e6e6e6;
    width: 12.5rem;
    padding: 0.625rem;
}

section input::placeholder
{
    font-size: 1.25rem;
    color: #131516;
   
}

.searchButton
{
    background-color: #0065FC;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    color: #fff;
    font-size: 1.25rem;
}




/* Chips in filters ---------------------------------*/

.filterSection
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 1.875rem;
    margin-left: 3.125rem; 
}

.item
{
    flex: 0 0 30px;
}

.item > p
{
    font-size: 1rem;
    font-weight: 600;
    margin: 12.5px 0 ;
}

.chipCollection
{
    flex: 1 0 31.25rem;
}

.filterChip
{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

.chip
{
    display: flex;
    flex-flow: row wrap;
    height: 2.5rem;
    line-height: 2.4rem;
    font-size: 1.5rem;
    border: 2px solid #d8d8d8;
    border-radius: 1.875rem;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    box-sizing: border-box;

}

.chip span
{
    margin: -0.1875rem 0 0 -0.625rem;
    padding: 0;
    height: 100%;
    line-height: 2.5rem;
    font-size: 1.375rem;
 
}

.chip p
{
    margin: 0;
    padding: 0 1.25rem 0 0.625rem;
    height: 100%;
    line-height: inherit;
    font-size: 1rem; 
    font-weight: 600;
}

.chipIcon
{
    font-size: 1rem;
}

.chipIconBackground
{
    height: 100%;
    color: #DEEBFF;
}

.chip .fa-inverse
{
    color: #0065FC;
}

/* info text ----------------------------------- */

.infoItem
{
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.25rem;
    line-height: 1.25rem;
}

.infoIcon
{
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #0065FC;
    padding: 2px;
    margin-left: 2.5rem;
}

.infoText
{
    font-size: 1rem;
    color: #6a6767;
    padding-top: 1.25rem;
}

.fa-info::before
{
    line-height: 1.25rem;
}
*/
/* Hotel list -----------------------------------------*/


.hotelCards
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 1.5rem;
    
}

.accommodationInCity
{
    box-sizing: border-box;
    background-color:  #F2F2F2;
    border-radius: 1.25rem;
    flex-grow: 2;
    flex-basis: 25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  
}

.accommodationInCity h3
{
    font-size: 1.25rem;
    margin: 2.5rem 0 0.625rem 3.125rem;
}

.cardsLeft
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.cardLeft
{
    flex: 0 0 16rem;
    background-color: #fff;
    margin: 1.25rem 0.625rem;
    margin-top: 1.825rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.cardImageLeft
{
    text-align: center;
    margin: 0.3rem 0.3rem 0 0.3rem;
}

.cardImageLeft img
{
    width: 100%;
    height: 7.5rem;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
}

.cardContentLeft
{
    padding: 0.625rem;
    text-align: center;
    font-size: 1.125rem;
    text-align: left;
}

.cardContentLeft p, cardContentRight p
{
    margin: 0.3rem;
}

.cardContentLeft p:nth-child(1), .cardContentLeft p span, .cardContentRight p:nth-child(1), .cardContentRight p span
{
    font-weight: 600;
}

.cardContentLeft p:nth-child(2), .cardContentRight p:nth-child(2)
{
    font-weight: 200;
    font-size: 1rem;
}


/* Rating Icon--------------------------------- */


.rating
{
    margin-bottom: 0;
    font-size: .8rem;
    margin: 0.6rem 0.3rem 0.2rem 0.3rem;
}


.checked 
{
    color: #0065FC;
}

.unchecked
{
    color: #F2F2F2;
}

.showMore
{
    margin-bottom: 3.125rem;

}

.showMore a
{
    text-decoration: none;
    color: #131516;
    margin-left: 3.125rem;
}




/* Most popular section---------------------------------- */

.mostPopularInCity
{
    box-sizing: border-box;
    background-color:  #F2F2F2;
    border-radius: 1.25rem;
    flex: 1 0 12.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.cardsRight
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 1.25rem;
}


.cardRight
{
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    margin: 0 1.25rem 1.25rem 1.25rem;
    border-radius: 1.25rem;
    box-sizing: border-box;
    max-width: 20.5rem;
    min-width: 19rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

}

.cardImageRight
{
    flex: 0 0 40%;
    text-align: center;
    margin: 0.3rem;
}

.cardImageRight img
{
    width: 100%;
    height: 10rem;
    border-radius: 1.25rem 0 0 1.25rem;
    object-fit: cover;
}

.cardContentRight
{
    flex: 0 0 50%;
    padding: 0.625rem;
    font-size: 1.125rem;
    text-align: left;
}

.title
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    margin: 2.5rem;
}

.title h3
{
    font-size: 1.25rem;
    margin: 0;
}

/* Activities in Marseille---------------------------- */

.actiCards
{
    display: grid;
    grid-template: repeat(6, 2.5rem) / repeat(4, 1fr);
    grid-gap: 2.5rem;
    box-sizing: border-box;
    height: 27.5rem;
    margin-right: 3.125rem;
    margin-left: 3.125rem;
}

.activity h3
{
    font-size: 1.25rem;
    margin: 2.5rem 0 1.875rem 3.125rem;
}

.actiCard img
{
    object-fit: cover;
    width:100%;
    max-height:100%;
    height: 90%;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.actiCard
{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    
}


.actiCard:nth-child(1) img, .actiCard:nth-child(4) img
{
    height: 25rem;
} 

.actiCard:nth-child(2) img
{
    height: 14.5rem;
} 

.actiCard:nth-child(3) img
{
    height: 5rem;
} 

.actiCard:nth-child(5) img
{
    height: 10rem;
} 

.actiCard:nth-child(6) img
{
    height: 10rem;
} 

.actiCard p
{
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: left;
    text-indent: 1rem;
    background-color: #ffffff;
    margin: 0;
    border-radius: 0 0 1rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.actiCard:nth-child(1)
{
    grid-column: 1 / 2;
    grid-row: 1 / 7;
}

.actiCard:nth-child(2)
{
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

.actiCard:nth-child(3)
{
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}

.actiCard:nth-child(4)
{
    grid-column: 3 / 4;
    grid-row: 1 / 7;
}

.actiCard:nth-child(5)
{
    grid-column: 4 / 5;
    grid-row: 1 / 4;


}

.actiCard:nth-child(6)
{
    grid-column: 4 / 5;
    grid-row: 4 / 7;
}


/* Footer------------------------------------- */


footer
{
    background-color: #f2f2f2;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100vw;
    margin-top: 3.5rem;
    font-size: 1.25rem;
    line-height: 2.4rem;
    padding-top: 1.2rem;
    padding-bottom: .6rem;
}

footer a
{
    text-decoration: none;
    list-style-type: none;
    color: #010101;
    
}

footer ul
{
    list-style-type: none;
}
footer li
{
    font-weight: 200;
}

footer li:nth-child(1)
{
    font-weight: 600;
}
.fMenu1, .fMenu2, .fMenu3
{
    padding-right: 13.125rem;
}

