html
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    color: #131516;
    font-weight: 400;
}



/* Nav Bar ----------------------------------------*/

.navBar
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: blueviolet;
    padding: 0 0.3rem;
    margin: -8px -8px 10px -8px;
    min-height: 3rem;
  

}

.navLogo
{
    padding-left: 20px;
}

.navMenu
{
    margin: 0;
}

nav a
{
    text-decoration: none;
    font-weight: 400;
    color: #131516;
}

.navMenuItem
{
    display: inline-block;
    padding: 1.5rem;
    /* background-color: rgb(30, 139, 0);  */
    /* border: 2px solid darkblue;  */
    margin: 0 2rem;
}

#signUp
{
    color: #0065FC;
    font-weight: 400;
}

nav a:hover
{
    color: #0065FC;
}

.navMenuItem:hover
{
    border-top: 2px solid #0065FC;
}

/* Search bar Section ------------------------------*/

section h2
{
    margin: 10px 0 10px 50px;
    font-size: 20px;
}

section > p
{
    margin: 10px 0 10px 50px;
    font-weight: 200;
    font-size: 16px;
}


.searchBar
{
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin-top: 20px;
    margin-left: 50px;
    
}

.searchIcon
{
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

section input
{
    border: .3px solid #e6e6e6;
    width: 200px;
    padding: 10px;
}

section input::placeholder
{
    font-size: 20px;
    color: #131516;
}

.searchButton
{
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 15px;
    color: #fff;
    font-size: 20px;
}



/* Chips in filters ---------------------------------*/
.filterSection
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    margin-left: 50px; 
}

.item
{
    flex: 0 0 30px;
}

.item > p
{
    font-size: 15px;
    font-weight: 600;
    margin: 12.5px 0 ;
}

.chipCollection
{
    flex: 1 0 500px;
}

.filterChip
{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    /* margin-top: 30px;
    margin-left: 50px; */
}


.chip
{
    display: flex;
    flex-flow: row wrap;
    height: 40px;
    line-height: 36px;
    font-size: 25px;
    border: 2px solid #d8d8d8;
    border-radius: 30px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    box-sizing: border-box;

}

.chip span
{
    margin: -3px 0 0 -10px;
    padding: 0;
    height: 100%;
    line-height: 40px;
    font-size: 21px;
 
}

.chip p
{
    margin: 0;
    padding: 0 20px 0 10px;
    height: 100%;
    line-height: inherit;
    font-size: 15px; 
    font-weight: 600;
}

.chipIcon
{
    font-size: 15px;
}

.chipIconBackground
{
    height: 100%;
    color: #DEEBFF;
}

.chip .fa-inverse
{
    color: #0065FC;
}

/* info text ----------------------------------- */

.infoItem
{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

.infoIcon
{
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #0065FC;
    padding: 2px;
    line-height: 20px;
    margin-left: 50px;
}

.infoText
{
    font-size: 16px;
    color: #6a6767;
    padding-top: 20px;
}


/* Hotel list -----------------------------------------*/

.hotelCards
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.accommodationInCity
{
    box-sizing: border-box;
    background-color:  #F2F2F2;
    border-radius: 20px;
    flex: 2 0 400px;
    margin: 20px 40px 0 50px;
}

.accommodationInCity h3
{
    font-size: 20px;
    margin: 40px 0 10px 50px;
}

.cardsLeft
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.cardLeft
{
    flex: 0 0 250px;
    background-color: #fff;
    margin: 20px 10px;
    border-radius: 20px;

}

.cardImageLeft
{
    text-align: center;
    margin: 5px 5px 0 5px;
}

.cardImageLeft img
{
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.cardContentLeft
{
    padding: 10px;
    text-align: center;
    font-size: 18px;
    text-align: left;
}

.cardContentLeft p, cardContentRight p
{
    margin: 5px;
}

.cardContentLeft p:nth-child(1), .cardContentLeft p span, .cardContentRight p:nth-child(1), .cardContentRight p span
{
    font-weight: 600;
}

.cardContentLeft p:nth-child(2), .cardContentRight p:nth-child(2)
{
    font-weight: 200;
    font-size: 16px;
}


/* Rating Icon--------------------------------- */
.rating
{
    margin-bottom: 0;
}


.checked 
{
    color: #0065FC;
}

.unchecked
{
    color: #F2F2F2;
}

.showMore
{
    margin-bottom: 50px;
}

.showMore a
{
    text-decoration: none;
    color: #131516;
    margin-left: 25px;
}


/* Most popular section---------------------------------- */

.mostPopularInCity
{
    box-sizing: border-box;
    background-color:  #F2F2F2;
    border-radius: 20px;
    flex: 1 0 200px;
    margin-top: 20px;
    margin-right: 50px;
}

.cardsRight
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 20px;
}


.cardRight
{
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    margin: 0 20px 20px 20px;
    border-radius: 20px;
    box-sizing: border-box;

}

.cardImageRight
{
    flex: 0 0 40%;
    text-align: center;
    margin: 5px;
}

.cardImageRight img
{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.cardContentRight
{
    flex: 0 0 50%;
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

.title
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 40px 40px 35px 40px;
}

.title h3
{
    font-size: 20px;
    margin: 0;
}

/* Activities in Marseille---------------------------- */
.actiCards
{
    display: grid;
    grid-template: repeat(6, 2.5rem) / repeat(4, 1fr);
    grid-gap: 3rem;
    box-sizing: border-box;
    height: 30rem;
    margin-right: 50px;
    margin-left: 50px;
}

.activity h3
{
    font-size: 20px;
    margin: 40px 0 30px 50px;
}

.actiCard img
{
    object-fit: cover;
    width:100%;
    max-height:100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.actiCard
{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}


.actiCard:nth-child(1) img, .actiCard:nth-child(4) img
{
    height: 27rem;
} 

.actiCard:nth-child(2) img
{
    height: 16rem;
} 

.actiCard:nth-child(3) img
{
    height: 5rem;
} 

.actiCard:nth-child(5) img
{
    height: 10.5rem;
} 

.actiCard:nth-child(6) img
{
    height: 10.5rem;
} 

.actiCard p
{
    height: 3rem;
    line-height: 3rem;
    text-align: left;
    text-indent: 1rem;
    background-color: #ffffff;
    margin: 0;
    border-radius: 0 0 15px 15px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.actiCard:nth-child(1)
{
    grid-column: 1 / 2;
    grid-row: 1 / 7;
}

.actiCard:nth-child(2)
{
    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

.actiCard:nth-child(3)
{
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}

.actiCard:nth-child(4)
{
    grid-column: 3 / 4;
    grid-row: 1 / 7;
}

.actiCard:nth-child(5)
{
    grid-column: 4 / 5;
    grid-row: 1 / 4;


}

.actiCard:nth-child(6)
{
    grid-column: 4 / 5;
    grid-row: 4 / 7;
}


/* Footer------------------------------------- */


footer
{
    background-color: #f2f2f2;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3.5rem;
    font-size: 20px;
    line-height: 1.4rem;
    padding-top: 1.2rem;
    padding-bottom: .6rem;
}

footer a
{
    text-decoration: none;
    list-style-type: none;
    color: #010101;
    
}

footer ul
{
    list-style-type: none;
}
footer li
{
    font-weight: 200;
}

footer li:nth-child(1)
{
    font-weight: 600;
}
.fMenu1, .fMenu2, .fMenu3
{
    padding-right: 150px;
}

